.header {
    background: #001304;
    padding: 50px 0;
}

.header__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__item {
    margin-right: 15px;
}

.header__link {
    color: #fff;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
}

.header__link.active {
    color: rgb(156, 23, 23);
  }